@font-face {
    font-family: 'bellotaregular';
    src: url('../font/Bellota-Regular-webfont.eot');
    src: url('../font/Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Bellota-Regular-webfont.woff') format('woff'),
         url('../font/Bellota-Regular-webfont.ttf') format('truetype'),
         url('../font/Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
  font-family: 'BellotaRegular'; /* Shame shame! */ 
  width:100%;
  margin:auto;
  background-color: #ffffff;

}

.invisible-square {
  background-color: #ffffff;
  position: absolute;
  margin: 3.8% 18.5%;
  top: 49px;
  width: 64%;
  height: 575px;
  box-shadow: 1px 1px 1px #888888;
}

/*logo*/
.header-customization {
  background: url(../img/hackers-poulette-logo.png) no-repeat 100% 55%;  
  background-size: 200px 150px;
}

.titre-formulaire {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  margin-top: 30px;
}

.titre-formulaire, .paragraphe-header {
  text-align: center;
}

.paragraphe-header {
  font-size: 18px;
  margin-bottom: 25px;

}

.info-user {
  margin-left: 10%;
  margin-right: 12.5%;
  width:30%;
  float:left;
}

.msg-user {
  display:inline-block;
  width:40%;
}

.msg-content {
  resize: none; /*Shame shame */
}

.button-position {
  text-align: center;
  margin-top:110px;
}

.button.is-primary {
  background-color: #15c5bd;
  border-radius: 5px;
  color:white;
}

.input.is-primary {
  border-color: #15c5bd;
}

/* css réponse dans une page */

.content-send {
  text-align: center;
  border:2px solid #15c5bd;
  width:50%;
  margin-left:25%;
  margin-right: 25%;
  margin-top:25px;
}

a {
  text-decoration: none;
}

button {
  font-family: 'BellotaRegular'; /* Shame shame! */ 
}

.button-position {
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 25px;
}

.button-position-retour {
  float:right;
}

.button-position-formulaire {
  float:left;
}